<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-heading">Create or edit a Transaction</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_transReference">Trans Reference</label>
                    <input type="text" class="form-control" name="transReference" id="field_transReference"
                           formControlName="transReference"/>
                    <div *ngIf="editForm.get('transReference')!.invalid && (editForm.get('transReference')!.dirty || editForm.get('transReference')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('transReference')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_transAmount">Trans Amount</label>
                    <input type="number" class="form-control" name="transAmount" id="field_transAmount"
                           formControlName="transAmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_currency">Currency</label>
                    <input type="number" class="form-control" name="currency" id="field_currency"
                           formControlName="currency"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_transType">Trans Type</label>
                    <select class="form-control" name="transType" formControlName="transType" id="field_transType">
                        <option value="DEPOSIT">DEPOSIT</option>
                        <option value="WITHDRAWAL">WITHDRAWAL</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_transStatus">Trans Status</label>
                    <input type="text" class="form-control" name="transStatus" id="field_transStatus"
                           formControlName="transStatus"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_custID">Cust ID</label>
                    <input type="text" class="form-control" name="custID" id="field_custID"
                           formControlName="custID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_transDate">Trans Date</label>
                    <div class="d-flex">
                        <input id="field_transDate" type="datetime-local" class="form-control" name="transDate" formControlName="transDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
