<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-customer-heading">Create or edit a Customer</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_customerID">Customer ID</label>
                    <input type="text" class="form-control" name="customerID" id="field_customerID"
                           formControlName="customerID"/>
                    <div *ngIf="editForm.get('customerID')!.invalid && (editForm.get('customerID')!.dirty || editForm.get('customerID')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('customerID')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                    <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_emailAddress">Email Address</label>
                    <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                           formControlName="emailAddress"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_homePhone">Home Phone</label>
                    <input type="text" class="form-control" name="homePhone" id="field_homePhone"
                           formControlName="homePhone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_mobilePhone">Mobile Phone</label>
                    <input type="text" class="form-control" name="mobilePhone" id="field_mobilePhone"
                           formControlName="mobilePhone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_attachment">Attachment</label>
                    <div>
                        <img [src]="'data:' + editForm.get('attachmentContentType')!.value + ';base64,' + editForm.get('attachment')!.value" style="max-height: 100px;" *ngIf="editForm.get('attachment')!.value" alt="customer image"/>
                        <div *ngIf="editForm.get('attachment')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('attachmentContentType')!.value }}, {{ byteSize(editForm.get('attachment')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('attachment', 'attachmentContentType', 'file_attachment')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_attachment" (change)="setFileData($event, 'attachment', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="attachment" id="field_attachment"
                           formControlName="attachment"/>
                    <input type="hidden" class="form-control" name="attachmentContentType" id="field_attachmentContentType"
                           formControlName="attachmentContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes"
                           formControlName="notes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dateCreated">Date Created</label>
                    <div class="d-flex">
                        <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" formControlName="dateCreated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
